.logo{
    position:relative;
    float:left;
    padding:0 15px;
    font-size:22px;
    font-weight:900;
    text-transform:uppercase;
    span{
      display:inline-block;
      position:relative;
      top:-8px;
      font-size:13pt;
    }
  }
  .language{
    border-radius: 0.25em;
  }
  .nav-item {
    cursor: pointer;
  }
  